/* Media query tablet */
@media  screen and (min-width:768px) {

    .container {
        max-width: 690px;
    }

    
    header .main-title {

        justify-content: flex-start;
    }
    
    h1 {
        font-size: 3.5rem;
        margin-left: 25px;
    }

    h2 {
        font-size: 32px;
    }

    .text2 {display: inline;}

    iframe {
    height: 380px;
    }


    .social-media{
        padding: 20px;
        margin-bottom: 30px;
    }

    .social-buttons {
        justify-content: center;
        gap: 50px;
    }

    .social-buttons li {
        flex-grow: 1;
    }

    .ads{
        display: block;
        margin-bottom: 20px;
    }

    .recipe-introduction {
        display: block;
    }

    .recipe-card {
        margin-bottom: 70px;
    }

    .recipe-img {
        float: left;
        margin-right: 15px;
    }
    
}




/* media quey desktop */
@media screen and (min-width:992px) {
    
    .container {
        max-width: 890px;
    }


    h1 {
        margin-left: 15px;
        font-size: 3rem;
    }

    h2 {
        font-size: 34px;
    }

    li span {
        display: inline;
        font-weight: 700;
    }

    .social-buttons {
        justify-content: center;
        gap: 20px;
    }

     .recipe-card {
        flex-direction: row;
        max-height: 378px;
    }

    .recipe-video {
        flex-basis: 70%;
    }

    .recipe-info {
        flex-basis: 30%;
    }

}

