/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body{
    font-family: "Montserrat", 'Helvetica Neue', sans-serif;
    background-color: #F6F5F3;
}
header .main-title {
    min-height:80px ;
    padding: 15px;
    background-color: #fff;
}

h1 {
    font-family: "Nerko One", cursive;
    color: #F7972E;
    text-align: center;
    font-size: 5rem;
    text-shadow: 2px 1px 3px gray;

}

/* Utilities */

.container{
    max-width: 100%;
    margin: 0 auto;
}

/* Media query tablet */
@media  screen and (min-width:768px) {

    
    h1 {
        text-align: left;
        margin-left: 25px;
        font-size: 4rem;
    }

}

/* media queruy desktop */
@media screen and (min-width:992px) {
    
    
    h1 {
        margin-left: 15px;
        font-size: 3rem;
    }
}