/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body{
    font-family: "Montserrat", 'Helvetica Neue', sans-serif;
    background-color: #F6F5F3;
}

main {
    padding: 20px;
}

h1 {
    font-family: "Nerko One", cursive;
   
    font-size: 4rem;
    text-shadow: 2px 1px 3px gray;
    
}

h2 {
    color: #4E3969;
    font-size: 2rem;
}

h3 {
    font-size: 42px;
    font-weight: 400;
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
    color: gray;
    margin-bottom: 10px;
}


img {
    max-width: 100%;
    display: block;
}

/* Utilities */

.container{
    max-width: 670px;
    margin: 0 auto;
}

.clr-orange {
    color: #F7972E;
}
/* header */

header .main-title {
    min-height:80px ;
    padding: 15px;
    background-color: #fff;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* recipe */

.text2 {
    display: none;
}

.recipe header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}


.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

/* recipe rating */

.recipe-rating {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.recipe-rating .rate {
    color: #fff;
    background-color: #F7972E;
    padding: 10px 15px;
    border-radius: 25px;
    font-weight: 600;
}

.recipe-video {
    height: 300px;
    flex-basis: 100%;
}

iframe {
    width: 100%;
    height: 380px;
    display: block;
}

.recipe-info {
    background-color: blueviolet;
    min-height: 450px ;
    flex-basis: 100%;
}

/* Social Media Buttons */

.social-media {
    margin-bottom: 50px;
}

.social-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
}

.social-buttons li {
    background-color: #fff;
    box-shadow: 1px 1px 1px gray;
    list-style-type: none;
}

/* Advertise banner */

.ads {
    display: none;
}

/* Recipe presentation */

.recipe-introduction {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.presentation h3::after {
    content: '';
    display: block;
    width: 60px;
    height: 2px;
    background-color: #F7972E;
}

.recipe-img {
    height: 200px;
    margin-bottom: 10px;
}


